<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<body>
<div layout:fragment="content">
    <!--/*@thymesVar id="booking" type="com.touramigo.booking.Booking"*/-->
    <!--/*@thymesVar id="payment" type="com.touramigo.booking.Payment"*/-->
    <!--/*@thymesVar id="stripeKey" type="java.lang.String"*/-->
    <div class="container info-container">
        <div class="row">
            <div class="col-sm-12 col-md-offset-2 col-md-8">
                <a href="/user/booking" class="btn btn-default btn-raised btn-top"><i class="fa fa-angle-left"></i> Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-offset-2 col-md-8 info-card">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>User bookings - payment</h1>
                        <div th:replace="user/profileTabs :: profileTabs ('booking')"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div th:replace="booking/bookingInformation :: information (${booking}, true)">
                            Booking information
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 booking-details">
                        <h2>Process final deposit payment</h2>
                        Process finall payment for a tour in amount $<span th:text="${#numbers.formatDecimal(payment.paymentAmount, 0, 'COMMA', 2, 'POINT')}">0</span> AUD.
                        <div class="row text-center">
                            <div class="col-xs-12">
                                <form method="post" id="paymentForm">
                                    <button id="payWithStripe" class="btn btn-primary btn-raised btn-wide">Process payment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>