<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
</head>
<body>
<!--/*@thymesVar id="booking" type="java.lang.Object"*/-->
    <div th:fragment="warning">
        Thank you for entering your information, once you press submit, we will discuss your request with the tour operator. Please allow up to 72 hours for our response, as there is many variables that effect the outcome. You can re-visit the terms and conditions of the tour operators <a href="/terms-conditions"> here</a>.
    </div>
</body>
</html>

