<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:wro4j="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/main">
<body>
<div layout:fragment="content">
    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
    <!--/*@thymesVar id="token" type="java.lang.String"*/-->
    <div class="container info-container">
        <div class="row">
            <th:block th:if="${error}">
                <div th:replace="fragments/validation/alert :: alert (type='danger', message=${error}, errors=null)">
                    Alert
                </div>
            </th:block>
            <div class="col-sm-12 col-md-offset-2 col-md-8 info-card">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Change your password</h1>
                    </div>
                </div>
                <div class="row">
                    <form id="changePasswordForm" class="form-vertical" method="POST">
                        <fieldset>
                            <input type="hidden" name="passwordToken" th:value="${token}">

                            <div class="col-sm-12 form-group">
                                <label class="control-label" for="password">New password *</label>
                                <input autocomplete="off" type="password" id="password" name="password" class="form-control" required="required">
                                <span id="passwordStrengthIndicator" class="pull-right field-indicator"></span>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label class="control-label" for="password">Confirm new password *</label>
                                <input autocomplete="off" type="password" id="confirmPassword" name="confirmPassword" data-parsley-equalto="#changePasswordForm #password" class="form-control" required="required">
                            </div>

                            <div class="col-sm-12">
                                <button class="btn btn-lg btn-primary btn-raised btn-wide password-submit" type="submit">Change password</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="custom-script">
    /*<![CDATA[*/
    $(function () {
        var changePasswordForm = $('#changePasswordForm');
        changePasswordForm.parsley({});

        changePasswordForm.find('#password').on('keyup', function () {
            var providedPassword =  $(this).val();
            var passwordStrengthIndicator = changePasswordForm.find('#passwordStrengthIndicator');
            var passwordSubmitButton = changePasswordForm.find('.password-submit');
            checkPasswordStrength(providedPassword, passwordStrengthIndicator, passwordSubmitButton);
        });
    });
    /*]]>*/
</script>
</body>
</html>